.header{
  position: fixed;
  z-index: 35;
  width: 100%;
  top: 0;
  background-color: #fff;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Gilroy-Bold', serif;
  box-shadow: 0 4px 44px rgba(0, 0, 0, 0.1);
}
.header_active{
  background-color: #fff !important;
}
.header_active .header-white-icon{
  display: none !important;
}
.header_active .header-black-icon{
  display: block !important;
}
.header-logo{
  display: flex;
  align-items: center;
}
.header-logo-subtitle{
  margin-left: 17px;
  padding: 0 17px;
  border-left: 1px solid #C4C4C4;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.92px;
  text-transform: lowercase;
  color: rgba(17, 17, 17, 0.5);
  font-family: 'Gilroy-Regular', serif;
}
.header-menu{
  display: flex;
  align-items: center;
}
.header-menu-nav{
  display: flex;
  align-items: center;
}
.header-menu-item{
  padding: 6px 16px;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #575757;
  list-style-type: none;
  cursor: pointer;
}
.header-menu-item:not(:last-child){
  margin-right: 5px;
}
.header-menu-item:hover{
  background: #F3F3F4;
  border-radius: 8px;
}
.header-menu-btn{
  margin-left: 30px;
  width: 174px;
  padding: 10px 20px;
  border-radius: 40px;
  color: #FF9514;
}
.burger-btn{
  display: none;
  cursor: pointer;
}
.header-white-icon{
  display: none;
}


.drop-header-menu{
  position: absolute;
  display: none;
  left: 0;
  width: 300%;
  flex-direction: column;
  font-family: 'Gilroy-Regular', "sans-serif";
  background: #FFFFFF;
  border: 1px solid #F3F3F4;
  box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04), 0 14px 24px rgba(51, 51, 51, 0.12);
  border-radius: 15px;
  overflow: hidden;
}
.drop-header-item{
  list-style-type: none;
  padding: 10px;
  font-size: 16px;
  line-height: 150%;
  color: #111111;
  cursor: pointer;
}
.drop-header-item:hover{
  background: #F1F1F1;
}
.header-menu-item:hover .drop-header-menu {
  display: flex;
}